/* CSS Document */
@font-face{
	font-family:'farnaz';
	src:url('../fonts/BFarnaz.eot');
	src:url('../fonts/BFarnaz.eot#iefix') format('eot'),url('../fonts/BFarnaz.woff') format('woff'),url('../fonts/BFarnaz.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
body{
	font-family:farnaz, tahoma;
	direction:rtl;
	font-size:18px;
	}

.navbar-top{
	border-bottom:solid 1px #333333;
	padding:5px;
	}
.jumbotron{
	padding-top:10px;
	padding-bottom:5px;
	margin-bottom:0;
	border-bottom:solid 1px #333333;
	}
footer{
	background-color:#CCC;
	color:#333;
	text-align:center;
	}
.footer-bottom{
	background-color:#333;
	color:#CCC;
	text-align:center;
	}
.social-links{
	text-align:center;
	}
.navbar{
	margin-bottom:0 !important;
	border-radius:0;
	}
.navbar-default .navbar-nav > li > a{
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}
.navbar-default .navbar-nav > li > a:hover{
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	background-color:#4E79ED;
	color:#eee;
	
	}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:#4E79ED;
	box-shadow:inset 0 0 5px #333333;
	color:#eee;
	}
.navbar-default{
	border:none;
	}
a{
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}
a:hover{
	text-decoration:none;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}
.dropdown-menu{
	text-align:right !important;
	}
.navbar-nav > li > .dropdown-menu{
	opacity:.8;
	}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color:#4E79ED;
	color:#eee;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}
.list li{
	list-style-type:none;
	font-size:18px;
	}